@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  src: url('../../public/fonts/SF-Pro.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-style: italic;
  src: url('../../public/fonts/SF-Pro-Italic.ttf') format('truetype');
}
